<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body th:style="'background:url('+ @{/images/indexWallpaper.jpg} +') no-repeat fixed center; background-size: 100% 100%;'">
    <nav th:replace="fragments/navBar"></nav>
    <br>
    <br>
    <div class="container-fluid">
        <div class="d-flex justify-content-center" th:style="'margin-top: 5%;'">
            <div class="col-md-8 box-bored-style">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <img th:src="@{${'/images/' + ljubimac.vrsta + '.png'}}" width="90%" height="90%"/>
                        </div>
                        <br>
                        <button type="button" class="btn btn-primary" disabled>
                            <img height="40px" th:src="@{/images/malaSapa.png}"/>
                            <p th:text="#{ljubimci.upload}" style="display: inline;"></p>
                        </button>
                    </div>
                    <div class="col-lg-8">
                        <p>
                            <p th:text="#{ljubimci.ime} + ' ' + ${ljubimac.ime}"></p>
                            <p th:text="#{ljubimci.vrsta} + ' ' +  ${ljubimac.vrsta}"></p>
                            <p th:text="#{ljubimci.dob} + ' ' +  ${ljubimac.dob}"></p>
                            <p th:text="#{ljubimci.veterinar} + ' ' +  ${#dates.format(ljubimac.veterinar, 'dd.MM.yyyy')}"></p>
                            <p th:text="#{ljubimci.cijepljen} + ' ' +  ${ljubimac.cijepljen}"></p>
                            <p th:text="#{ljubimci.obuka} + ' ' +  ${ljubimac.obuka}"></p>
                            <p th:text="#{ljubimci.hrana} + ' ' +  ${ljubimac.hrana}"></p>
                            <p th:text="#{ljubimci.igracka} + ' ' +  ${ljubimac.igracka}"></p>
                            <a class="btn btn-warning" role="button" th:href="@{/love-me/uredi-ljubimca(id=${ljubimac.id})}">
                                <img height="40px" th:src="@{/images/malaSapa.png}"/>
                                <p th:text="#{ljubimci.uredi}" style="display: inline;"></p>
                            </a>
                            <a class="btn btn-danger float-right" th:href="@{/love-me/moji-ljubimci}" th:text="#{label.back}" style="padding: 15px;"></a>
                        </p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
