<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body th:style="'background:url('+ @{/images/indexWallpaper.jpg} +') no-repeat fixed center; background-size: 100% 100%;'">
<nav th:replace="fragments/navBar"></nav>
<br>
<br>
<div class="container" style="display: flex; justify-content: center;">
    <div class="row">
        <div class="card" style="width: 22rem;">
            <br>
            <p style="text-align: center;" th:text=" ${test_ljubimci[0].ime}">
            <hr>
            </p>
            <img src="../static/images/forumIcon.png" th:src="@{/images/forumIcon.png}"/>
            <div class="card-body">
                <p class="card-text">
                <p th:text="#{ljubimci.vrsta} + ${test_ljubimci[0].vrsta}"></p>
                <p th:text="#{ljubimci.dob} + ${test_ljubimci[0].dob}"></p>
                <p th:text="#{ljubimci.veterinar} + ${test_ljubimci[0].veterinar}"></p>
                <p th:text="#{ljubimci.hrana} + ${test_ljubimci[0].hrana}"></p>
                <p th:text="#{ljubimci.igracka} + ${test_ljubimci[0].igracka}"></p>
                <a class="btn btn-primary" role="button" th:href="@{/love-me/ljubimac}">
                    <img height="40px" th:src="@{/images/malaSapa.png}"/>
                    <p th:text="#{ljubimci.detalji}" style="display: inline;"></p>
                </a>
                </p>
            </div>
        </div>
        &nbsp&nbsp&nbsp&nbsp
        <div class="card" style="width: 22rem;">
            <br>
            <p style="text-align: center;">Macka
            <hr>
            </p>
            <img th:src="@{/images/forumIcon.png}"/>
            <div class="card-body">
                <p class="card-text">
                <p th:text="#{ljubimci.vrsta}"></p>
                <p th:text="#{ljubimci.dob}"></p>
                <p th:text="#{ljubimci.veterinar}"></p>
                <p th:text="#{ljubimci.hrana}"></p>
                <p th:text="#{ljubimci.igracka}"></p>
                <a class="btn btn-primary" role="button" th:href="@{/love-me/ljubimac}">
                    <img height="40px" src="../static/images/malaSapa.png" th:src="@{/images/malaSapa.png}"/>
                    <p th:text="#{ljubimci.detalji}" style="display: inline;"></p>
                </a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
</script>
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>
