<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body th:style="'background:url('+ @{/images/indexWallpaper.jpg} +') no-repeat fixed center; background-size: 100% 100%;'">

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="../static/images/petIcon.png" height="30px" th:src="@{images/petIcon.png}"/><a class="nav-link" th:href="@{/moji_ljubimci}" th:text="#{nav.pets}" style="display: inline;"></a>
            </li>
            <li class="nav-item">
                <img height="30px" src="../static/images/userIcon.png" th:src="@{images/userIcon.png}"/><a class="nav-link" href="#" th:text="#{nav.profile}" style="display: inline;"></a>
            </li>
            <li class="nav-item">
                <img height="30px" src="../static/images/forumIcon.png" th:src="@{images/forumIcon.png}"/><a class="nav-link" href="#" th:text="#{nav.forum}" style="display: inline;"></a>
            </li>
            <li class="nav-item">
                <b><a class="nav-link" href="#" th:text="#{nav.logout}" style="display: inline;"></a></b>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>

<div class="container">
    <div class="d-flex justify-content-center" th:style="'margin-top: 5%;'">
        <div class="col-md-8 box-bored-style">
        <form>
            <div class="mb-3">
              <label for="ime_ljubimci" class="form-label" th:text="#{ljubimci.ime}"></label>
              <input type="text" class="form-control" id="ime_ljubimci">
            </div>
            <div class="mb-3">
              <label for="vrsta_ljubimci" class="form-label" th:text="#{ljubimci.vrsta}"></label>
              <input type="text" class="form-control" id="vrsta_ljubimci">
            </div>
            <div class="mb-3">
              <label for="dob_ljubimci" class="form-label" th:text="#{ljubimci.dob}"></label>
              <input type="number" class="form-control" id="dob_ljubimci">
            </div>
            <div class="form-group">
                <label for="veterinar" class="form-label" th:text="#{ljubimci.veterinar}"></label>
                <div class='input-group date' id='veterinar'>
                   <input type='text' class="form-control" />
                   <span class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
                   </span>
                </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="cijepljen">
                <label class="form-check-label" for="cijepljen" th:text="#{ljubimci.cijepljen2}"></label>
            </div>
            <div class="mb-3">
                <label for="obuka" class="form-label" th:text="#{ljubimci.obuka}"></label>
                <input type="text" class="form-control" id="obuka">
            </div>
            <div class="mb-3">
                <label for="hrana" class="form-label" th:text="#{ljubimci.hrana}"></label>
                <input type="text" class="form-control" id="hrana">
            </div>
            <div class="mb-3">
                <label for="igracka" class="form-label" th:text="#{ljubimci.igracka}"></label>
                <input type="text" class="form-control" id="igracka">
            </div>
            <button type="submit" class="btn btn-primary">
                <img height="40px" src="../static/images/malaSapa.png" th:src="@{images/malaSapa.png}"/>
                <p th:text="#{ljubimci.dodaj}" style="display: inline;"></p>
            </button>
        </form>
        </div>
    </div>
</div>
</body>
</html>
