<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body th:style="'background:url('+ @{/images/indexWallpaper.jpg} +') no-repeat fixed center; background-size: 100% 100%;'">

<nav th:replace="fragments/navBar"></nav>
<br>
<br>

<div class="container">
    <div class="d-flex justify-content-center" th:style="'margin-top: 5%;'">
        <div class="col-md-8 box-bored-style">
        <form  th:action="@{/love-me/novi-ljubimac}" th:object="${ljubimacForm}" method="POST">
            <div class="mb-3">
              <label for="ime_ljubimci" class="form-label" th:text="#{ljubimci.ime}"></label>
              <input type="text" class="form-control" id="imeLjubimci" name="imeLjubimci">
              <!-- <div class="invalid-message" th:if="${#fields.hasErrors('imeLjubimci')}" th:errors="*{imeLjubimci}"></div> -->
            </div>
            <div class="form-group">
                <label for="vrsta_ljubimci" class="form-label" th:text="#{ljubimci.vrsta}"></label>
                <select class="form-control" id="vrsta_ljubimci">
                    <option>Pas</option>
                    <option>Mačka</option>
                    <option>Hrčak</option>
                    <option>Zamorac</option>
                    <option>Miš</option>
                    <option>Štakor</option>
                    <option>Kunić</option>
                    <option>Ptica</option>
                    <option>Ribica</option>
                    <option>Zmija</option>
                    <option>Gušter</option>
                    <option>Žaba</option>
                    <option>Pauk</option>
                    <option>Kornjača</option>
                    <option>Patuljasta svinja</option>
                    <option>Afrički tvor</option>
                    <option>Činčila</option>
                </select>
            <!-- <div class="invalid-message" th:if="${#fields.hasErrors('vrsta_ljubimci')}" th:errors="*{vrsta_ljubimci}"></div> -->
            </div>
            <div class="mb-3">
              <label for="dob_ljubimci" class="form-label" th:text="#{ljubimci.dob}"></label>
              <input type="number" class="form-control" id="dobLjubimci" name="dobLjubimci">
              <!-- <div class="invalid-message" th:if="${#fields.hasErrors('dob_ljubimci')}" th:errors="*{dob_ljubimci}"></div> -->
            </div>
            <div class="mb-3">
                <label for="veterinar" class="form-label" th:text="#{ljubimci.veterinar}"></label>
                <input type="date" class="form-control" id="veterinar" name="veterinar">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="cijepljen" name="cijepljen">
                <label class="form-check-label" for="cijepljen" th:text="#{ljubimci.cijepljen2}"></label>
            </div>
            <div class="mb-3">
                <label for="obuka" class="form-label" th:text="#{ljubimci.obuka}"></label>
                <input type="text" class="form-control" id="obuka" name="obuka">
            </div>
            <div class="mb-3">
                <label for="hrana" class="form-label" th:text="#{ljubimci.hrana}"></label>
                <input type="text" class="form-control" id="hrana" name="hrana">
            </div>
            <div class="mb-3">
                <label for="igracka" class="form-label" th:text="#{ljubimci.igracka}"></label>
                <input type="text" class="form-control" id="igracka" name="igracka">
            </div>
            <button type="submit" class="btn btn-primary">
                <img height="40px" th:src="@{/images/malaSapa.png}"/>
                <p th:text="#{ljubimci.dodaj}" style="display: inline;"></p>
            </button>
        </form>
        <a class="btn btn-danger float-right" th:href="@{/love-me/moji-ljubimci}" th:text="#{label.back}"></a>
        </div>
    </div>
</div>
</body>
</html>
