<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body th:style="'background:url('+ @{/images/indexWallpaper.jpg} +') no-repeat fixed center; background-size: 100% 100%;'">
<nav th:replace="fragments/navBar"></nav>
<br>
<br>
<div class="d-flex justify-content-center">

</div>
<div class="container-fluid">
    <div class="d-flex justify-content-center" th:style="'margin-top: 5%;'">
        <div class="col-md-8 box-bored-style">
            <div th:if="${updateProfilSuccess}" class="alert alert-info">
                <p class="text-center" th:text="#{profil.updateProfilSuccess}">Uspjesno ste izmjenili korisnicke podatke!</p>
            </div>
            <h1 th:text="#{profil.title}">Profil osobe</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <img th:src="@{/images/covjekJure.jpg}" width="90%" height="90%" id="profilna">
                    </div>
                    <br>
                </div>
                <div class="col-lg-8">
                    <p>
                    <p><span th:text="#{profil.korisnickoIme}">Korisnicko ime</span>: <span th:text="${korisnik.korisnickoIme}" style="font-weight: bold"/></p>
                    <p><span th:text="#{profil.ime}">Ime</span>: <span th:text="${korisnik.ime}" style="font-weight: bold"/></p>
                    <p> <span th:text="#{profil.prezime}">Prezime</span>: <span th:text="${korisnik.prezime}" style="font-weight: bold"/></p>
                    <p> <span th:text="#{profil.email}">Email</span>: <span th:text="${korisnik.email}" style="font-weight: bold"/></p>
                    <p> <span th:text="#{profil.datumRodjenja}"></span>: <span th:text="${#dates.format(korisnik.datumRodjenja, 'dd.MM.yyyy')}" style="font-weight: bold"/></p>
                    </p>
                    <a class="btn btn-primary" th:href="@{/love-me/profil/update}" th:text="#{profil.uredi}">Uredi</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>
