<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body th:style="'background:url('+ @{/images/indexWallpaper.jpg} +') no-repeat fixed center; background-size: 100% 100%;'">

<nav th:replace="fragments/navBar"></nav>
<br>
<br>

<div class="container">
    <div class="d-flex justify-content-center" th:style="'margin-top: 5%;'">
        <div class="col-md-8 box-bored-style">
        <form th:action="@{/love-me/uredi-ljubimca}" th:object="${updateLjubimacForm}" method="POST">
            <input type="hidden" id="id" th:field="*{id}">
            <div class="mb-3">
              <label for="ime_ljubimci" class="form-label" th:text="#{ljubimci.ime}"></label>
              <input type="text" class="form-control" id="ime_ljubimci" th:field="*{ime}">
            </div>
            <div class="form-group">
                <label for="vrsta_ljubimci" class="form-label" th:text="#{ljubimci.vrsta}"></label>
                <select class="form-control" id="vrsta_ljubimci" th:field="*{vrsta}">
                    <option th:value="#{vrsta.pas}" th:text="#{vrsta.pas}"></option>
                    <option th:value="#{vrsta.macka}" th:text="#{vrsta.macka}"></option>
                    <option th:value="#{vrsta.hrcak}" th:text="#{vrsta.hrcak}"></option>
                    <option th:value="#{vrsta.zamorac}" th:text="#{vrsta.zamorac}"></option>
                    <option th:value="#{vrsta.mis}" th:text="#{vrsta.mis}"></option>
                    <option th:value="#{vrsta.stakor}" th:text="#{vrsta.stakor}"></option>
                    <option th:value="#{vrsta.kunic}" th:text="#{vrsta.kunic}"></option>
                    <option th:value="#{vrsta.ptica}" th:text="#{vrsta.ptica}"></option>
                    <option th:value="#{vrsta.ribica}" th:text="#{vrsta.ribica}"></option>
                    <option th:value="#{vrsta.zmija}" th:text="#{vrsta.zmija}"></option>
                    <option th:value="#{vrsta.guster}" th:text="#{vrsta.guster}"></option>
                    <option th:value="#{vrsta.zaba}" th:text="#{vrsta.zaba}"></option>
                    <option th:value="#{vrsta.pauk}" th:text="#{vrsta.pauk}"></option>
                    <option th:value="#{vrsta.kornjaca}" th:text="#{vrsta.kornjaca}"></option>
                    <option th:value="#{vrsta.svinja}" th:text="#{vrsta.svinja}"></option>
                    <option th:value="#{vrsta.tvor}" th:text="#{vrsta.tvor}"></option>
                    <option th:value="#{vrsta.cincila}" th:text="#{vrsta.cincila}"></option>
                </select>
            </div>
            <div class="mb-3">
              <label for="dob_ljubimci" class="form-label" th:text="#{ljubimci.dob}"></label>
              <input type="number" class="form-control" id="dob_ljubimci" th:field="*{dob}">
            </div>
            <div class="mb-3">
                <label for="veterinar" class="form-label" th:text="#{ljubimci.veterinar}"></label>
                <input type="date" class="form-control" id="veterinar" th:field="*{veterinar}">
              </div>
            <div class="mb-3 form-check">
                <input th:if="*{cijepljen}=='da' ? checked : ''" type="checkbox" class="form-check-input" id="cijepljen" th:field="*{cijepljen}" value="da">
                <!--<input th:if="*{cijepljen}!='da'" type="checkbox" class="form-check-input" id="cijepljen">-->
                <label class="form-check-label" for="cijepljen" th:text="#{ljubimci.cijepljen2}"></label>
            </div>
            <div class="mb-3">
                <label for="obuka" class="form-label" th:text="#{ljubimci.obuka}"></label>
                <input type="text" class="form-control" id="obuka" th:field="*{obuka}">
            </div>
            <div class="mb-3">
                <label for="hrana" class="form-label" th:text="#{ljubimci.hrana}"></label>
                <input type="text" class="form-control" id="hrana" th:field="*{najdrazaHrana}">
            </div>
            <div class="mb-3">
                <label for="igracka" class="form-label" th:text="#{ljubimci.igracka}"></label>
                <input type="text" class="form-control" id="igracka" th:field="*{najdrazaIgracka}">
            </div>
            <button type="submit" class="btn btn-primary">
                <img height="40px" th:src="@{/images/malaSapa.png}"/>
                <p th:text="#{ljubimci.spremi}" style="display: inline;"></p>
            </button>
        </form>
        <a class="btn btn-danger float-right" th:href="@{/love-me/moji-ljubimci}" th:text="#{label.back}"></a>
        </div>
    </div>
</div>
</body>
</html>
